.tab-body .list .btn {
    width: 100%;
    white-space: normal;
}

.addons-list .btn {
    padding: 6px;
    height: 120px;
}

.addons-list .btn .oe_module_icon,
.addons-list .btn .oe_module_desc {
    display: inline-block;
}

.addons-list .btn .oe_module_icon {
    width: 80px;
    height: auto;
    vertical-align: top;
}

.addons-list .btn .oe_module_desc {
    width: 150px;
    padding-left: 6px;
    text-align: left;
}

.addons-list .btn .oe_module_desc h4 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.addons-list .btn .oe_module_name {
    font-size: 13px;
}