<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
                {% for page in site.pages %} <!-- site.pages liquid tag lists all the pages in root directory, including folders containing index.html -->
                {% if page.title %} <!-- true if page has a title -->
                {% if page.url != '/404.html' %} <!-- you obviously don't want to show 404 in nav bar -->
                {% if page.title != site.index_title %} <!-- this is done to remove dublicate entry -->
				{% if page.url contains "page" %}
                    <!-- if page url contains page that means it is a paginated subdirectory of blog so don't show in nav bar -->
                {% else %} <!-- now that we have filtered out all the redundant pages, its time to add the left to nav bar -->
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}
                {% endif %}
				{% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
