---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <hr class="small">
                    <span class="subheading">
                        {% if page.description == "!!SHOWTAGSINSTEADOFDESCRIPTION!!" %}
                            {% for tag in page.tags %}
                                <a href="/blog/tags/{{ tag }}" style="text-decoration: normal; font-weight: normal; color: #ffffff;"><i class="fa fa-tag"></i>{{ tag }}</a>  
                            {% endfor %}
                        {% else %}
                            {{ page.description }}
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ content }}
            <br>
            {% if page.comments %}
                {% include disqus_comments.html %}
            {% endif %}
            <br>
        </div>
    </div>
</div>

<hr>
